html {
    font-size: 62.5%; /* fonttikoko nyt 10px joka paikassa */
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
header, nav, section, article, aside, footer {
    color: white;
    padding: 1rem;
}
header {
    background-color: red;
}
nav {
    background-color: #F28F2D;
}
section {
    background-color: #FEC000;
}
article {
    background-color: #7AC141;
    margin-top: 1rem;
}
aside {
    background-color: blue;
}
footer {
    background-color: #932B8E;
}
.mb1 {
    margin-block-end: 1rem;
}
/* Määritellään section ja aside rinnakkain flexin avulla */
.parent {
    display: flex; /* otetaan flex käyttön lapsissa   */
    flex-direction: row; /* flexataan lapset rivin suuntaisesti  */
    flex-wrap: wrap; /* rivi ei voi vaihtua lapsille  */
} /*vanhemmat säännöt (main) */
.parent > * {
    flex-grow: 1; /* lapset yhtä leveitä */
    flex-basis: 100%; /* lapsien minimileveys  */
} /*lasten säännöt (section and aside) */ 

/* Tablet-näkymän säännöt */
@media only screen and (min-width: 426px) {
    .parent {
        display: flex; /* otetaan flex käyttön lapsissa   */
        flex-direction: row; /* flexataan lapset rivin suuntaisesti  */
        flex-wrap: nowrap; /* rivi ei voi vaihtua lapsille  */
    }
    .parent > * {
        flex-grow: 1; /* lapset yhtä leveitä */
        flex-basis: 0; /* lapsien minimileveys  */
    } /*lasten säännöt (section and aside) */ 
    
  }

 